/* ================= HERO ================= */

.hero{
background: linear-gradient(to right,#d35400,#f39c12);
padding:30px 0;
margin-bottom:20px;
}

/* ================= HERO IMAGE ================= */

.hero-img{
height:300px;
object-fit:cover;
border-radius:10px;
}

/* ================= CARD ================= */

.card img{
height:250px;
object-fit:cover;
}

.card{
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

.menu-section{
background:white;
padding:40px 0;
}

.kategori-menu{
background:#eee7df;
padding:8px;
border-radius:40px;
width:fit-content;
margin:auto;
}

.kategori-menu .nav-link{
border-radius:30px;
padding:8px 25px;
color:black;
}

.kategori-menu .nav-link.active{
background:white;
border:1px solid black;
}

.kategori-menu .nav-link:hover{
background:#f5f5f5;
}

.floating-cart{
position:fixed;
bottom:20px;
left:50%;
transform:translateX(-50%);
background:linear-gradient(45deg,#ff7a18,#ff5722);
color:white;
padding:15px 25px;
border-radius:50px;
display:flex;
justify-content:space-between;
align-items:center;
width:80%;
max-width:500px;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
font-weight:500;
cursor:pointer;
z-index:999;
}

.floating-cart:hover{
opacity:0.95;
}

.qty-box button{
border:none;
background:#ff5722;
color:white;
width:30px;
height:30px;
border-radius:50%;
font-size:16px;
display:flex;
align-items:center;
justify-content:center;
}

.qty-box{
display:flex;
align-items:center;
gap:8px;
}